body {
  margin: 0px;
  overflow: hidden;
}

canvas {
  display: none;
}

#file {
  position: absolute;
  z-index: 5;
  top: 50vh;
  left: 30vw;
}

#text {
  position: absolute;
  top: 0px;
  width: 75vw;
  height: 100vh;
}

#console {
  display: block;
  position: absolute;
  left: 75vw;
  top: 0px;
}